@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800');

body {
   margin-bottom: 60px;
    height:100vh;
}

#bouderry-student-infor{
    box-sizing: border-box;
    max-height: 30%vh;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    line-height: 1.4;
    color: #fff;
    
    padding: 20px;
    
}
.std-inf-holder{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
}
#bouderry-student-infor .row {
    max-width: 800px;
    margin: 0 auto;
    background:#3e70c7;
    border-radius: 5px;
   
}
#bouderry-student-infor .row span {
    position: relative;
    display: inline-flex;
    margin: 10px;
    align-items: baseline;
    
}
#bouderry-student-infor .row h4{
    padding-right: 10px;
}
#bouderry-student-infor .basic-slide {
    border: none;
    display: block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: black;
    background: #efefef;
    border-radius: 3px;
    outline: 0;
    text-indent: 50px; 
    transition: all .3s ease-in-out;
    font-size: 20px;
    height: 40px;
    &::-webkit-input-placeholder {
        color:#3e70c7  ;
        text-indent: 0;
        font-weight: 300;
    }

    
}
#bouderry-student-infor .basic-slide label {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(19, 74, 70, .4);
    background: #7AB893;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    /* border-top-left-radius: 3px; */
    /* border-bottom-left-radius: 3px; */
}

#bouderry-student-infor .basic-slide:focus,
#bouderry-student-infor .basic-slide:active {
    color: #3e70c7;
    text-indent: 0;
    background: #fff;

    &::-webkit-input-placeholder {
        color: #aaa;
    }

    +label {
        transform: translateX(-100%);
    }
}

    
#sefid_container{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    font: normal 16px/1.5 sans-serif;
    max-height: 100%vh;
    text-align: center;
}

#sefid_container_intruction{
    font: normal 36px/1.5 'Open Sans', sans-serif;
    color: #2c3e50;
    margin: 20px 0;
    text-align: center;
    font-weight: 2rem;
    display: inline-block;
    position: relative;
}


#sefid_container .sefid_container_main{
    border-radius: 5px;
    max-width: 640px;
    height: 40%;
    margin: 0px auto;
    border: 2px solid #3e70c7;
    padding: 20px;
    background-color: #efefef;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.sefid_container_main_part1{
    width: 100%;
    position: relative;
    
}

.sefid_container_main_part1 video#sefid_container_main_part1_camera{
    /* display: none; */
    width: 100%;
    position: relative;
    transform: scaleX(-1);
}



.sefid_container_main_part1 #selfid_container_camera_frame{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 270px;
    border: 2px solid #fff;
    border-radius: 45%;
    border: 4px dotted #3e70c7;
    box-sizing: border-box;
}

.sefid_container_main_part1 .take-photo-holder{
    position: absolute;
    bottom: 2%;
    width: 100%; 
    display: flex;
    justify-content: center;
}
.sefid_container_main_part1 .take-photo-holder-sub{
    width: 70px;
    height: 70px;
    text-align: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
    transition: 0.45s;
}

.sefid_container_main_part1 .take-photo-holder-sub:hover,
.sefid_container_main_part1 .take-photo-holder-sub:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.sefid_container_main_part1  .take-photo{
    size: 60px;
    padding: 15px;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    opacity: 1;
    outline: none;
    border: none;
    
    
}
.sefid_container_main_part1  .take-photo:hover {
    color: red;
}


.sefid_container_main_part1 .take-photo i{
    font-size: 30px;
    background-color: #FEFFEA;
    /* size: 2rem; */

}
.sefid_container_main_part1 canvas#sefid_container_main_part1{
    display: none;
}
.sefid_container_main_part1 #sefid_container_main_part1_canvas{
    display: none;
}
#sefid_container_main_gallery{
    display: flex;
    /* position: relative; */
    margin-top: 20px;
    
}
#sefid_container_main_gallery div{
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    /* animation: fadeIn2 1s ease-in both; */
    position: relative;
    margin: 0 4px;
    background-color: #efefef;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    
}
#sefid_container_main_gallery img{
    width: 100%;
    height: auto;
    opacity: 0;
	animation: fadeIn2 1s ease-in both;
    position: relative;
    border-radius: 5px;
    border: 1px solid #3e70c7;
}
#sefid_container_main_gallery i{
    /* background-color: black; */
}
#sefid_container_main_gallery button{
    padding: 0px;
    background-color: #FEFFEA;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    line-height: 0;
    opacity: 0.5;
    outline: none;
    position: absolute;
    top:5px;
    left: 5px;
    border: none;
    /* animation: fadeIn2 1.5s ease-in both; */
    
}
#sefid_container_main_gallery button:hover {
    opacity: 0.9;
    color: red;
}
#sefid_container_main_gallery img #delete-photo{
    font-size: 30px;
    background-color: #FEFFEA;
} 
.sefid_container_main_buttons_container {
    position: absolute;
    top: -4%;
    right: -50%;
    

}

.sefid_container_main_buttons_container button {
    cursor: pointer;
    background: white;
    border-radius: 3px;
    padding: .600em 3.125em;;
}

.sefid_container_main_buttons_container .button-arounder {
    font-size: 1.5rem;
    color: hsl(190deg, 10%, 95%);
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #3e70c7;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    align-items: center;
    color: #3e70c7;
    font-weight: 600;
    transition-duration: 0.4s;
}
.sefid_container_main_buttons_container .button-arounder:hover,
.sefid_container_main_buttons_container .button-arounder:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: #3e70c7;
    color:white
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in 1 forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@media(max-width: 1000px){
    .sefid_container{
        margin: 40px;
    }

    .sefid_container_main_part1 #start-camera.visible{
        display: block;
    }

    .sefid_container_main_part1.controls a i{
        font-size: 16px;
    }

    .sefid_container_main_part1 .controls .take-photo i{
        font-size: 24px;
    }
    #sefid_container_main_gallery img {
        width: 160px;
        height: auto;
    }

    .sefid_container_main_part1 #selfid_container_camera_frame{
        width: 150px;
        height: 200px;
    }   
    .sefid_container_main_part1 .take-photo{
        size:20px;
        padding: 5px;
    }
   
}


@media(max-width: 600px){
    .sefid_container{
        margin: 10px;
    }

    .sefid_container_main_part1 #error-message{
        padding: 80px 50px;
        font-size: 18px;
    }

    .sefid_container_main_part1 .controls a i{
        font-size: 12px;
    }

    .sefid_container_main_part1 .controls .take-photo i{
        font-size: 18px;
    }
    #sefid_container_main_gallery img {
            width: 60px;
            height: auto;
    }
    .sefid_container_main_part1 #selfid_container_camera_frame{
            width: 120px;
            height: 160px;
    }
    .sefid_container_main_part1 .take-photo {
        size: 20px;
        padding: 5px;
    }
   
}

